.navbar
{
background-color:#5171d9;
margin-bottom:0px;
height:60px!important;
min-height:0px!important;
z-index:500;
}
.navbar-header
{
height:60px!important;
}
.navbar-brand
{
padding-top:2px!important;
padding-bottom:8px!important;
}
.fluid1
{
height:60px!important;
}
.first
{
padding:0px;!important;
}
.img1
{
position:absolute;
top:300px;
left:148px;
height:200px;
width:234px;
}
.secim1
{
width:300px;
}
.second
{
margin-top:50px;
}
